@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --clr-dark: #2b2b2b;
  --clr-light: #FFF;
  --clr-primary: #3066be;
  --clr-secondary: #4db6ac;
  --clr-semilight: #e5e5e5;
  --font: "Poppins";

}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
  }

  .section{
    display: grid;
    place-items: center;
    align-content: center;
  }

/*START OF NAVBAR*/
  .header{
    padding: 30px 0;
    background-color: var(--clr-light);
   box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
   position: sticky;
   z-index: 1000; 
   top: 0;
  }

  .header__wrapper{
    display: flex;
    justify-content: center;
  }

  .header__wrapper .navbar{
    display: flex;
    gap: 250px;
  }
  
.header__wrapper .navbar li a{
  text-decoration: none;
  color: var(--clr-dark);
  font-size: 30px;
  cursor: pointer;
}

.header__wrapper .navbar li {
  position: relative;
}

.header__wrapper .navbar li:after {
  content: "";
  position: absolute;
  bottom: -2px; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: var(--clr-primary);
  transition: width 0.5s ease; 
}

.header__wrapper .navbar li .active{
  border-bottom: 5px solid var(--clr-primary);
  width: 100%;
  border-radius: 2px;
  transition: 0.5s ease;
}

/*END OF NAVBAR*/


/*START OF HOME PAGE*/
rotating-text {
  height: 50px;
}

.text-item {
  position: absolute;
  width: 100rem;
  height: 50px;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1.5s;
}

.text-item.show {
  opacity: 1;
  transform: translateY(0);
}

.text-item.hide {
  opacity: 0;
  transform: translateY(-5000%);
}

.rotating-text{
  transform: translateX(0px) ;
  }


.Homepage__bg{
background:linear-gradient(rgba(121,126,246, 0.5),
  rgba(121,126,246, 0.5))
  ,url(./img/bg.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* TO CENTER TEXT */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.homebannerContent__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Homepage__content{
  padding: 40px 0;
  max-width: 300px;
  width: 100%;
}


.Homepage__pic {
width: 650px;
height: auto;
transform: translate( -200px, 5px);
}

.Homepage__content h3{
  font-size: 28px;
  font-weight: bold;
  transform: translate( 265px, 5px);
  color: var(--clr-secondary);
  -webkit-text-stroke: 0.7px var(--clr-dark);
  text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.Homepage__content h1{
  color: var(--clr-light);
  font-size: 117px; 
  -webkit-text-stroke: 0.7px var(--clr-dark);
  text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rotating-text h2{
  font-weight: bold;
  font-size: 45px;
  transform: translate( -365px, 0);
  color: var(--clr-secondary);
  -webkit-text-stroke: 0.7px var(--clr-dark);
  text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.Homepage__content span h1{
  transform: translate( 125px, 0); 
}

/*END OF HOME PAGE*/

/*START OF ABOUT PAGE*/

.AboutPage{
  padding: 175px 0;
}
.aboutpage__content h1{
  color: var(--clr-dark);
  font-size: 85px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.aboutpage__content p{
  font-size: 25.7px;
  text-align: justify;
}

.aboutpage__content p span{
  font-weight: bold

}


/*END OF ABOUT PAGE*/


/*START OF EXPERIENCE PAGE*/
.ExperiencePage{
  padding: 10px 0;
}
.Exp{
  background-color: var(--clr-semilight);
  padding: 90px 0;
}

.exp__wrapper h1{
  color: var(--clr-dark);
  font-size: 85px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.exp__wrapper h3{
  color: var(--clr-dark);
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.exp__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.picLeft img{
  width: 49rem;
}
/*END OF EXPERIENCE PAGE*/


/*START OF SKILLS PAGE*/
.skills{
  background-color: var(--clr-light);
  padding: 90px 0;
}

.skills__wrapper h2{
  color: var(--clr-dark);
  font-size: 85px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.chart__label .info{
  display: flex;
  text-align: center;
  padding: 35px 0;
}

.chart__label .info .cent{
  font-weight: bold;
  margin-left: auto;
}


 .chart__bar {
  height: 30px;
  border-radius: 25px;
  width: 100%;
  background: var(--clr-primary);
  width: 0;
  transition: width 1s ease-in-out;
}
.chart__bar.animate {
  width: var(--final-width);
}


/*@-webkit-keyframes anim-lightspeed-in {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes anim-lightspeed-in {
  0% {
  width: 0%;
    opacity: 1;
  }

  100% {
    width: var(--final-width);
    opacity: 1;
  }
}*/

.chart:nth-child(1) .chart__bar {
  transition-delay: 0.2s;
}
.chart:nth-child(2) .chart__bar {
  transition-delay: 0.4s;
}
.chart:nth-child(3) .chart__bar {
  transition-delay: 0.6s;
}
.chart:nth-child(4) .chart__bar {
  transition-delay: 0.8s;
}
.chart:nth-child(5) .chart__bar {
  transition-delay: 1s;
}
/*END OF SKILLS PAGE*/

/*START OF PORTFOLIO*/
.portfolio{
  background-color: var(--clr-semilight);
  padding: 50px 0;
}

.port__wrapper h1{
  color: var(--clr-dark);
  font-size: 85px;
  text-align: center;
}


.port__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.port__top{
  display: grid;
  grid-template-columns: 40rem 40rem 40rem;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 300px;
}

.port__bottom img{
  padding: 0 20px;
}

.port__bottom{
  margin-left: 300px;
  display: grid;
  grid-template-columns: 40rem 40rem ;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 600px;
}

.portfolio .portThumb{
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
    }
.imageOv h2{
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--clr-dark);
}

.portfolio .portThumb .imageOv{
        background:var(--clr-secondary);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: 60px;
        transition: all 0.4s ease-in-out;
    }


.portfolio .portThumb:hover .imageOv{
        cursor: pointer;
        opacity: 0.8;
        transform: scale(0.9);

    }
/*END OF PORTFOLIO*/


/*START OF CONTACT PAGE*/
.ContactPage{
  padding:  250px;
}


.contact__wrapper h2{
  color: var(--clr-dark);
  font-size: 90px;
  text-align: start;
}

.contact__content{
  padding: 50px 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 30rem;
}

.cont__left ul li i{
  color: var(--clr-primary);
  font-size: 71px;
  padding: 10px 0;
}
.cont__left ul li{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 5px 0;
}

.cont__left h1{
  font-weight: bold;
}


.cont__right input{
  margin-bottom: 2rem;
  border: none;
  outline: none;
  background-color: transparent;
  width: 95%;
  border-bottom: 1px solid var(--clr-dark);
  } 

  .cont__right  textarea{
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  width: 95%;
  border-bottom: 1px solid var(--clr-dark);
  margin-bottom: 2rem;
  }
  
  
  
  .cont__right button{
    width: 100%;
    max-width: 61rem;
    border-radius: 90rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-size: 2.5rem;
    border: none;
    outline: none;
    letter-spacing: 2rem;
  }
  
  .cont__right button:hover{
    background-color: var(--clr-primary);
    color: var(--clr-dark);
  }
  
  .cont__right form{
    font-size: 2rem;
    align-items: baseline;
    justify-content: baseline;
    gap: 2rem;
  }
/*END OF CONTACT PAGE*/

/*START OF FOOTER*/
.footer{
  background-color: var(--clr-dark);
  color: var(--clr-semilight);
  padding: 2px 0;
}

.footer__wrapper{
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.footer ul{
  display: flex;
  gap: 1rem;
}

.footer .footerLine{
  border-bottom: 5px solid var(--clr-primary);
  width: 100%;
  border-radius: 25px;

}
.footer ul{
  padding-left: 150px;
}

.footer ul li a{
  color: var(--clr-semilight);
  font-size: 24px;
  padding: 10px 0;
}

/*END OF FOOTER*/

/*ANIMATION*/
.hidden{  
  opacity: 0;
  transform: scale (0); 
  filter: blur(1px);
  transition: all 1.5s ease-in-out;
}

.show{
  opacity: 1;
  transform: scale(1);
  filter: blur(0px);
}


